# SQL Database (PostgreSQL/MySQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=casas_db

# NoSQL Database (MongoDB)
MONGODB_URI=mongodb://localhost:27017/casas_nosql

# App
NODE_ENV=development
PORT=3000

# Auth
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRES=24h
